*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* Banner */
section.banner{
    width: 100%;
    height: 460px;
    background-color: #14274A;
}

.wrapper-banner{
    position: relative;
    margin: 0 190px ;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu ul{
    display: flex;
}
.menu ul li{
    list-style: none;
    margin: 0 30px;
    
}
.menu ul li a{
    color: white;
    text-decoration: none;
}

.wrapper-banner h1{
    text-align: center;
    margin-top: 47px;
    font-size: 80px;
    font-weight: 700;
    color: white;  
    text-transform: uppercase;  
}

/* formulario */
.formularios{
    width: 100%;
    padding: 0 150px;
    margin-top: 261px;
}
.info-formulario h1{
    font-size: 60px;
    color: #14274A;
    font-weight: 700;
    margin-bottom: 7px;
}
.info-formulario p{
    font-weight: 400;
    font-size: 30px;
    color: #14274A;
}
.info-formulario{
    margin-bottom: 161px;
}.info-formulario p{
    margin-top: 7px;
}

.endereço-formulario{
    display: flex;
    margin-bottom: 250px;
}
.endereço-form{
    width: 613px;
    margin-right: 150px;
}
.endereço-form span:nth-of-type(1),
.endereço-form span:nth-of-type(2){
    font-weight: 400;
    font-size: 20px;
    color: #14274A;
}
.endereço-form span:nth-of-type(3){
    font-size: 40px;
    font-weight: 700;
    color: #14274A;
    margin: 28px 0 54px 0;
}
.endereço-form span:nth-of-type(3)::after{
    content: "\2192";
    margin-left: 30px;
}
.endereço-form span:nth-of-type(4),
.endereço-form span:nth-of-type(5){
    color: #14274A;
    font-weight: 400;
    font-size: 20px;
}

.endereço-form span{
    display: block;
}

.formulario{
    width: 613px;
}
.formularios form{
    display: flex;
    flex-direction: column;
}
.formulario span{
    font-weight: bold;
    font-size: 19px;
    color: #14274A;
    margin-bottom: 6px;
}

.formulario form input[type="text"],
.formulario form input[type="email"]{
    height: 40px;
    outline: 0;
    border: 2px solid #14274a9f;
    padding-left: 5px;
}
.formulario textarea{
    height: 250px;
    resize: none;
    border: 2px solid #14274a9f;
    padding-left: 5px;
}
.formulario button{
    width: 154px;
    height: 78px;
    background-color: #E0B973;
    border: 0;
    font-size: 25px;
    color: white;
    font-weight: 700;
    border-radius: 15px;
    align-self: flex-end;
    margin-top: 52px;
    cursor: pointer;
}
/* footer */

footer{
    width: 100%;
    height: 320px;
    background-image: url('../img/Union\ 3.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 60px;
}

.style-endereço{
    color: white;
}
.style-endereço h1{
    font-size: 25px;
    font-weight: 700;
}
.style-endereço p{
    font-weight: 400;
    font-size: 17px;
    margin-left: 10px;
    font-style: italic;
    margin-bottom: 19px;
}

.style-endereço span{
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}
.style-links{
    margin-left: 25px;
}
.style-links,
.style-social-midia{
    display: flex;
    flex-direction: column;
}

.style-links > a,
.style-social-midia > a{
    display: flex;
    align-items: center;
    line-height: 20px;
    margin: 0 0 15px 20px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    
}
.style-social-midia a:nth-of-type(1)::before{
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('../img/face.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-right: 20px; 
}

.style-social-midia a:nth-of-type(2)::before{
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('../img/twitter.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-right: 20px;
}

.style-social-midia a:nth-of-type(3)::before{
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('../img/insta.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-right: 20px;
}
.style-newsllater h1{
    font-size: 16px;
    color: white;
    font-weight: 400;
}
.style-newsllater form{
    margin-top: 20px;
    display: flex;
}
.style-newsllater form input[type="email"]{
    height: 52px;
    border: 2px solid #E0B973;
    background-color: transparent;
    padding-left: 5px;
    color: white;
    outline: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.style-newsllater form button{
    width: 80px;
    height: 52px;
    background-color: #E0B973;
    outline: 0;
    border: 2px solid #E0B973;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}

/* ==== Media-queries ===== */


/* ==== max-width: 1060px ====  */

@media (max-width: 1060px){
    .wrapper-banner{
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 0 60px ;
    }

    .container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 60px;
    }
    .item-container{
        margin: 20px auto;
    }

    .info-formulario h1{
        font-size: calc(60px / 1.5);
    }
    .info-formulario p{
        font-size: calc(30px / 1.5);
    }

    .endereço-formulario{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 250px;
        justify-content: center;
    }
    .endereço-form{
        margin-right: 0;
    }
    
    .formularios{
        padding: 0 20px;
        
    }
    .formularios form{
        margin-top: 60px;
    }

    .endereço-form span:nth-of-type(3){
        font-size: 40px;
        font-weight: 700;
        color: #14274A;
        margin: 10px 0 10px 0;
    }
}


/* ==== max-width: 930px ==== */

@media (max-width: 930px){
    footer{
        height: 450px;
    }
}


@media(max-width: 802px){
   .menu img {
        width: 150px;
    }
}


/* ==== max-width: 740px ==== */

@media (max-width: 740px){
  
}


/* ==== max-width: 644px ==== */

@media (max-width: 644px){
    footer{
        height: 600px;
        text-align: center;
    }
    .style-links,
    .style-social-midia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav.menu ul{
        display: none;
    }
    .menu{
        display: flex;
        justify-content: center; 
    }
    .wrapper-banner h1{
        font-size: calc(80px / 1.5);
        display:flex;
        justify-content:center;
    }
    section.banner{
        height: 300px;
    }
    

}



/* ==== max-width: 540px ==== */
@media (max-width: 540px){
   
}

/* ==== max-width: 430px ==== */
@media (max-width: 430px){
    footer{
        height: 690px;
        text-align: center;
    }
    .single-quarto h1{
        font-size: calc(60px / 2.3);
    }
    
}



